@charset "UTF-8";
/*Tiffany*/
body{
    background-image: url(Pictures/concert.jpg); 
	 background-size: 1440px 900px;
     
}
h5{
	
	font-size:38px;
	color:goldenrod;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}

#topnav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    height: 3em;
	margin:auto;
	
}
#topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 12.25em;
    font-size: 15px;
	background-color: darkgray;
	border-right: 0.2em solid black;
  overflow-x: hidden;
}

#topnav li{
    list-style: none;
    display: inline;
    width: 20px;

}


#topnav li a:hover {
    background-color: goldenrod;
    color: white;
}

#topnav li a.active {
    background-color: lightcoral;
    color: white;
}
#container1{
	background-color:black;
	opacity: 1;
	width:48em;
    height:86em;
	padding-top:1%;
	margin-top:2%;
	
}
#container2{
	background-color:black;
	opacity: 1;
	width:50em;
    height:80em;
	padding-top:1%;
	padding-left:1%;
}
#bands{
	background-color:ghostwhite;
	opacity:1;
	width:40em;
	height:26em;
	padding-left:1em;
	padding-right:1em;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
input.MyButton {
width: 13em;
padding: 10px;
cursor: pointer;
font-weight: bold;
font-size: 100%;
background:#1491C5;
color: #fff;
border: 1px solid #3366cc;
border-radius: 5px;
}
input.MyButton:hover {
color: #ffff00;
background: #000;
border: 1px solid #fff;
}
#bands1{
	background-color:ghostwhite;
	opacity:1;
	width:40em;
	height:29.2em;
	padding-top:1em;
	padding-left:1em;
	padding-right:1em;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
#bands2{
		background-color:ghostwhite;
	opacity:0.9;
	width:40em;
	padding-top:1em;
	padding-left:1em;
	padding-right:1em;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
#bands3{
	background-color:ghostwhite;
	opacity:1;
	width:40em;
	height:34em;
	padding-top:1em;
	padding-left:1em;
	padding-right:1em;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
#bands4{
	background-color:ghostwhite;
	opacity:1;
	width:40em;
	height:42.5em;
	padding-top:1em;
	padding-left:1em;
	padding-right:1em;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
#bands5{
	background-color:lavenderblush;
	opacity:1;
	width:40em;
	height:7.3em;
	padding-top:1em;
	padding-left:1em;
	padding-right:1em;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

#container3{
	background-color:black;
	opacity: 1;
	width:45em;
    height:97em;
	padding-top:1%;
	padding-left:1%;
	margin-top:2%;
}
#container4{
	background-color:black;
	opacity: 1;
	width:45em;
    height:121em;
	padding-top:1%;
	padding-left:1%;
	margin-top:2%;
}
#container5{
	background-color:black;
	opacity: 1;
	width:50em;
    height:85em;
	padding-top:1%;
	padding-left:1%;
}
h1{
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color:steelblue;
}

h2{
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color:blue;}
#backgroundinfo{
	background-color:ghostwhite;
	width:42em;
	height:55em;
	padding-left:1em;
	padding-right:1em;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	
}

#right{
	background-color:blanchedalmond;
	width:19.5em;
	height:57em;
	float:right;
	margin-top:2%;
	
	
}
#left{
	background-color:blanchedalmond;
	width:19.5em;
	height:57em;
	float:left;
	margin-top:2%;
	padding-top:3%;
	
}

.scroll-left {
 height:50px;	
 overflow:hidden;
 position: relative;
 background:goldenrod;
 color: black;
 border: 1px solid orange;
	margin-top:1%;
}
.scroll-left p {
 position: absolute;
 width: 100%;
 height: 80%;
 margin: 0;
 line-height: 40px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-left 15s linear infinite;
 -webkit-animation: scroll-left 15s linear infinite;
 animation: scroll-left 25s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}

h3{
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}
input.signupMyButton {
width: 10em;
padding: 10px;
cursor: pointer;
font-weight: bold;
font-size: 100%;
background:#39EBCA;
color:aliceblue;
border: 1px solid #3366cc;
border-radius: 5px;
}
input.joinusMyButton:hover {
color: #ffff00;
background: #000;
border: 1px solid #fff;
}
#backgroundinfocontainer{
background-color:black;
	opacity: 1;
	width:48em;
    height:80em;
	padding-top:1%;
	margin-top:2%;
}
input.joinusMyButton {
width: 10em;
padding: 10px;
cursor: pointer;
font-weight: bold;
font-size: 100%;
background:#39EBCA;
color:aliceblue;
border: 1px solid #3366cc;
border-radius: 5px;
}
input.signupMyButton:hover {
color: #ffff00;
background: #000;
border: 1px solid #fff;
}
.announcementscroll {
 height: 90%;	
 overflow: hidden;
 position: relative;
 background:blanchedalmond;
 color: black;

}
.announcementscroll p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateY(100%);
 -webkit-transform:translateY(100%);	
 transform:translateY(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-up 30s linear infinite;
 -webkit-animation: scroll-up 30s linear infinite;
 animation: scroll-up 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-up {
 0%   { -moz-transform: translateY(100%); }
 100% { -moz-transform: translateY(-100%); }
}
@-webkit-keyframes scroll-up {
 0%   { -webkit-transform: translateY(100%); }
 100% { -webkit-transform: translateY(-100%); }
}
@keyframes scroll-up {
 0%   { 
 -moz-transform: translateY(100%); /* Browser bug fix */
 -webkit-transform: translateY(100%); /* Browser bug fix */
 transform: translateY(100%); 		
 }
 100% { 
 -moz-transform: translateY(-100%); /* Browser bug fix */
 -webkit-transform: translateY(-100%); /* Browser bug fix */
 transform: translateY(-100%); 
 }
}
form{
	color:lightsteelblue;
}
#bigbox1{
	background-color:black;
	opacity: 1;
	margin:auto;
	padding-top:30px;
	width:60em;
	height:38em;
	margin:auto;
}
#bigbox2{
	background-color:black;
	opacity: 1;
	margin:auto;
	padding-top:30px;
	width:60em;
	height:45em;
	margin:auto;
}
/*saad*/
h4{
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
.block{
    padding: 10px 10px;
    border: 1pt solid black;
	background-color:ghostwhite;
    margin: 5px;
	height:28em;
	width:39em;
    
}
.block1{
    padding: 10px 10px;
    border: 1pt solid black;
	background-color:ghostwhite;
    margin: 5px;
	height:18em;
	width:39em;
    
}
.block2{
    padding: 10px 10px;
    border: 1pt solid black;
	background-color:ghostwhite;
    margin: 5px;
	height:23em;
	width:39em;
    
}
.block3{
    padding: 10px 10px;
    border: 1pt solid black;
	background-color:ghostwhite;
    margin: 5px;
	height:35em;
	width:39em;
    
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup .popuptext {
    visibility: hidden;
    width: 700px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 70%;
    left: 35%;
    margin-left: -80px;
}


.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.button1{
    background-color: aqua;
    border: double;
    color: darkcyan;
    padding: 10px 10px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
    cursor: pointer;
    margin-bottom: 10px;   
}
.date h6{
    font-size: 10px;
    margin  : 20px;
    padding: 2px; 
    text-align: left;
    text-align: left;
}
    .floating{
    width: 150px;
    height: 130px;
   float: left;
}
/*Matt*/

/* About Page & Join us */
#bigbox{
	background-color:ghostwhite;
	padding:1em;
	margin:auto;
	width:70em;
	height:100%;
	margin:auto;	
}
#info1{
	background-color:white;
	width:55em;
	height:30em;
	margin:auto;
	padding-left:14px;
	padding-right:14px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";	
}
#info{
	background-color:white;
	width:70em;
	height:100%;
	margin:auto;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";	
}
#info2{
	background-color:whitesmoke;
	height:100%;
	width: 60em;
	margin:auto;
	border: 2px solid white;
	text-align:center;
}
table{
	Background-color:white;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	display:block;
	width:94%;
	border:2px solid;
	margin:auto;
	padding:1em;
	
}
td, th {
	Border:2px solid red;
	text-align: center;
	padding:auto;
	font-size:20;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	margin-left:4%;
}
/* Registration */
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

input[type=submit] {
    width: 50%;
    background-color: darkgray;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	width: 15em;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

input[type=submit]:hover {
    background-color: orange;
	color: white;
}

input[type=reset] {
    width: 50%;
    background-color: darkgray;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	width: 15em;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

input[type=reset]:hover {
	background-color: orange;
	color: white;
}

div.register {
    margin:auto;
	border-radius: 5px;
	width: 50em;
	height: 100%;
    background-color:whitesmoke;
    padding: 20px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	
}
div.register1 {
    margin:auto;
	border-radius: 5px;
	width: 50em;
	height: 45em;
    background-color:whitesmoke;
    padding: 20px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
/* Modal */
div.history {
	background-color: white;
	color:black;
	margin: auto;
	width: 57em;
	height: 6em;
	text-align: center;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin:auto;
    border: 1px solid #888;
    width: 88%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: darkgray;
    color: black;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.modal-body {
	padding: 2px 16px;
	margin:auto;
	width:100%;
	height:110%;
}
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8,
.grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15,
.grid-16 {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    max-width: 100%;
	list-style: none;
	padding:25px;
}
#info5{
	margin-left:350px;
}
